input[type="text"]{
    padding: 8px 12px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    width: 500px;
}

input[type="url"]{
    padding: 8px 12px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    width: 500px;
}

input[type="reset"]{
    float: left;
    padding: 8px 14px;
    background: #ff6f61;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]{
    background-color: #6186ff;
    padding: 8px 14px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.box{
    border: 1px solid rgba(0, 0, 0, 0.062);
    border-radius: 5px;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.15);
}

#inputImage{
    direction: ltr;
}